*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:  #6344AD;
    --cor1:  #3F2B6E;
    --cor2:  #885CED;
    --cor3: #291C47;
}
html,body{
    background-color: var(--cor0);
}
body{
 font-family: Arial, Helvetica, sans-serif;
}
header{
    
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
   
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 30px;
}
menu{
    background-color: var(--cor2);
    padding: 20px;
    text-align: center;

}
a{
   
    padding: 6px;
    text-decoration: none;
    color: white;
    
}
a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    text-shadow: 1px 1px 0px black;
    border-radius: 15px;
}
